.footer{

    background:$darkBlue;
    color:$white;
    padding:2.5rem;
    text-align: center;

    .container{
        @include breakpoint-up(large){
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 3fr;
            grid-template-rows: 1fr auto;
    
            grid-template-areas: 
            "logo links1 links2 cta"
            "social links1 links2 copyright";
            gap:1rem;
            justify-items: start;
        }
    }

    a{
        color:$white;
    }

    &__logo{
        display:inline-block;

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            grid-area: logo;
        }

    }

    &__social{

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            grid-area: social;
            align-self: end;
        }
    
        a:not(:last-child){
            display:inline-block;
            margin-right: 1rem;
            height:1.25rem;
        }

        a{ 
            svg path{
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path{
                fill: $limeGreen;
            }
        }


    }

    &__links{
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size:0.9375rem;

        &.col1{

            @include breakpoint-up(large){
                grid-area: links1;
                align-items: start;
                justify-content: space-between;
            }
            
        }

        &.col2{

            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large){
                grid-area: links2;
                align-items: start;
            }

        }
        a{

            line-height: 2.25;
            transition:color 150ms ease-in-out;

            &:hover{
                color: $limeGreen;
            }
            // @include breakpoint-down(medium){
            //     line-height: 2.25;
            // }
        }
    }

    &__cta{

        @include breakpoint-up(large){
            grid-area: cta;
            justify-self: end;
            text-align: right;
        } 

        a.button{
        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }
        }
    }

    
    &__copyright{
        font-size:0.8125rem;
        color:$grayishBlue;

        @include breakpoint-up(large){
            grid-area: copyright;
            align-self: end;
            justify-self: end;
        }
    }

    &__scroll{
        font-size: 1.2rem;
        background: linear-gradient($limeGreen, $brigthCyan);
        height: 2rem;
        width:2rem;
        color: $veryLightGray;

        position: fixed;
        bottom: 3rem;
        right: 3.5rem;

        display: grid;
        align-items: center;
        border-radius: 5px;

        visibility: hidden;
        z-index: -100;

    }

    &__showLink{
            visibility: visible;
            z-index: 100;
    }

}