html{
    font-size:100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    padding:0;
    margin:0;
    line-height: 1.3;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    color:$grayishBlue;
    overflow-x: hidden;


    // for scrolling up
    // min-height: 200vh;


    @include breakpoint-up(large){
        font-size: $font-lg;       
    }


    &.noscroll{
        overflow: hidden;
    }
}

*, a:visited, a:hover{
    text-decoration: none; 
}

.button{
    display:inline-block;
    font-size: $font-sm;
    padding:0.875rem 2.185rem;
    border-radius: 50px;
    cursor: pointer;
    border:none;
    background-image: linear-gradient(to right, $limeGreen, $brigthCyan);
    color:$white;
    font-weight:400;


    position: relative;
    overflow: hidden;

    color:$white;
    transition:opacity 300ms ease-in-out;

    &::before{
        content:'';
        position:absolute;
        top:0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.25);
        opacity:0;
        transition: opacity 150ms ease-in-out
    }
    &:hover::before{
        opacity:1

    }
    
}

// flexbox syles
.flex{
    display:flex;

    &-jc-sb{
        justify-content: space-between;  
    }
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }

}

.container{

    max-width: 69.375rem;
    margin: 0 auto;

    &--pall{
        padding-left:1.5rem;
        padding-right:1.5rem;
    
        padding-top:4.375rem;
        padding-bottom:4.375rem;;

        @include breakpoint-up(large){
            padding-top:6rem;
            padding-bottom:6rem;
        }
    }


    &--py{
        padding-top:4.375rem;;
        padding-bottom:4.375rem;

        @include breakpoint-up(large){
            padding-top:6rem;
            padding-bottom:6rem;
        }
    }
    &--px{
        padding-left:1.5rem;
        padding-right:1.5rem;
    }

    &--pt{
        padding-top:4.375rem;
        @include breakpoint-up(large){
            padding-top:6rem;
        }
    }

    &--bt{
        padding-bottom:4.375rem;
        @include breakpoint-up(large){
            padding-bottom:6rem;
        }
    }

    &--pl{
        padding-left:1.5rem;
    }

    &--pr{
        padding-right:1.5rem;
    }
}

// visibility
.hide-for-mobile{
    // hide for tablets and mobile
    @include breakpoint-down(medium){
        display:none;
    }
}

.hide-for-desktop{
    @include breakpoint-up(large){
        display:none;
    }
}  

h1, h2, h3{
    margin-top:0;

    font-weight: 300;
    font-size: 2.31rem;
    line-height: 1.15;
    color: $darkBlue;
}

h1{
    margin-bottom: 1.5rem;
    @include breakpoint-up(large){
        font-size: $font-xlg;
    }
}

h2{
    font-size:1.875rem;
    margin-bottom: 1.5625rem;

    @include breakpoint-up(large){
        font-size: 2.25rem;
        margin-bottom: 2.25rem;
    }
}

p{
    line-height: 1.5;
    margin-bottom: 2.25rem;
}