@import 'variables';

.header{

    nav{
        position:relative;
        background-color: $white;
        padding-top:1.0625rem;
        padding-bottom:1.0625rem;
    }

    &.open{
        
        .header__toggle{

            > span:first-child{
                transform:rotate(45deg)
            }
    
            > span:nth-child(2){
                opacity: 0;
            }
    
            >span:last-child{
                transform: rotate(-45deg);
            }
        }
    }

    .overlay{
        opacity:0;
        position:fixed;
        top: 0;
        left:0;
        bottom:0;
        right:0;
        background-image:linear-gradient($darkBlue, transparent);
        overflow: hidden;
    }

    &__logo{

        img{
            width:8.8125rem;
            height:1.375rem;
        }

    }

    &__toggle{

        > span{
        display: block;
        width: 26px;
        height:2px;
        background-color: $darkBlue;
        transition: all 300ms ease-in-out;
        transform-origin: 3px 1px;

        &:not(last-child){
          margin-bottom: 5px; 
        }
        }
    }
    
    &__links{
        >   a {
            font-size: $font-sm;
            color:$grayishBlue;
            position: relative;
             
            &:not(:last-child){
                margin-right: 32px;
            }

            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 5px;
                left: 0;
                right:0;
                bottom:-30px;
                background: linear-gradient(to right, $limeGreen, $brigthCyan);
                opacity: 0;

                transition: opacity 300ms ease-in-out;
            
                }
            &:hover{
                &::before{
                    opacity:1;
                }
            }
            &:visited{
                color:$darkBlue;
            }
       
        }     

    }

    // &__cta{
        
    // }

    // menu class
    &__menu{
        // display:flex;
        // flex-direction: column;
        // align-items: center;
        position: absolute;
        width:calc(100% - 3rem);
        left:50%;
        transform:translateX(-50%);
        padding:1.625rem;
        margin-top: 1.5rem;
        // margin:0px 1.5rem;
        background:$white;
        border-radius: 5px;

        > a{
            display:block;
            padding:10px;
            text-align: center;
            color:$darkBlue;

        }
    }

}

// hanbuger open styles